.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

// LINKS

.header a {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 0.5rem;
}

.header a:hover {
  text-decoration: underline;
}

.header a.router-link-exact-active {
  color: #42b983;
}
