.userHeader {
  padding-bottom: 32px;
}

.userTitle {
  color: white;
}

.EditBtnContainer {
  margin: 0 auto;
  width: fit-content;
}

.edit-button {
  padding: 10px;
}

.editInput {
  width: 245px;
  text-transform: capitalize;
}

.editNameForm input,
.editNameForm input::placeholder {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}
